#u98
{
	position: relative;
}

#u103-8
{
	color: #FFFFFF;
	font-family: Comic Sans, Comic Sans MS, cursive;
	-webkit-transform: matrix(0.9397,0.342,-0.342,0.9397,22,-41);
	-ms-transform: matrix(0.9397,0.342,-0.342,0.9397,22,-41);
	-o-transform: matrix(0.9397,0.342,-0.342,0.9397,22,-41);
	transform: matrix(0.9397,0.342,-0.342,0.9397,22,-41);
	position: relative;
}

#u103-2,#u103-3,#u103-5
{
	font-size: 18px;
	line-height: 22px;
}

