{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!DOCTYPE html>

<html>
<head>
    <title>eTrash</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type='image/png' href="{%  static 'favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}">
</head>

    <div id="header">
        <div class="header-title">
            <a href="/"><img src="{{ STATIC_PREFIX }}images/eTrashHeader.png" width="164"></img></a>
        </div>
        <!-- <div class="header-sections"> -->
            <div class="header-section">
                <a href="#players"><h2>Players</h2></a>
            </div>
            <div class="header-section" action="#sponsors">
                <a href="#sponsors"><h2>Sponsors</h2></a>
            </div>
            <div class="header-section" action="#team">
                <a href="#team"><h2>Team</h2></a>
            </div>
        <!-- </div> -->
    </div>

<div id="players">
    <div class="gamer">
        <p>{{ McMitchName }}</p> 
        <img class="avatar" src="{{ McMitchImage }}"></img>
        <img src="{{ STATIC_PREFIX }}images/ranks/{{ McMitchRank }}.png" title="{{ McMitchRank }}"></img>
    </div>

    <div class="gamer">
        <p>{{ DefaultsoundName }}</p> 
        <img class="avatar" src="{{ DefaultsoundImage }}"></img>
        <img src="{{ STATIC_PREFIX }}images/ranks/{{ DefaultsoundRank }}.png" title="{{ DefaultsoundRank }}"></img>
    </div>

    <div class="gamer">
        <p>{{ CallumcaName }}</p> 
        <img class="avatar" src="{{ CallumcaImage }}"></img>
        <img src="{{ STATIC_PREFIX }}images/ranks/{{ CallumcaRank }}.png" title="{{ CallumcaRank }}"></img>
    </div>

    <div class="gamer">
        <p>{{ TheScannerDarklyName }}</p> 
        <img class="avatar" src="{{ TheScannerDarklyImage }}"></img>
        <img src="{{ STATIC_PREFIX }}images/ranks/{{ TheScannerDarklyRank }}.png" title="{{ TheScannerDarklyRank }}"></img>
    </div>

    <div class="gamer">
        <p>{{ JakeAMName }}</p> 
        <img class="avatar" src="{{ JakeAMImage }}"></img>
        <img src="{{ STATIC_PREFIX }}images/ranks/{{ JakeAMRank }}.png" title="{{ JakeAMRank }}"></img>
    </div>
</div>
